body {
margin: 0;
padding: 0;
font-size: 16px;
font-family: "Roboto";
color: rgb(40, 49, 54);  
line-height: 1.25; 
font-weight: normal;
background-color: #ffffff;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	padding-top: 70px;
	}
	.main-navigation a {
		text-decoration: none;
		color: #000000;
		text-transform: uppercase;
	}
	.menu-items {
		display: flex;
		justify-content: space-between;
	}
	.menu-items li {
		padding-left: 48px;
	}
	.menu-items,
	.busket  {
		list-style: none;
	}
.slogan {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.slogan-right {
  padding-top: 40px;
  }

.slogan-right b {
	font-size: 55px;
	font-weight: normal;
	} 
.slogan-right p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 35px;
	line-height: 24px;
}
.product-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 115px;
}
.product-title {
  	margin: 0;
  	padding: 0;
  	font-size: 24px;
  	font-weight: bold;
  	text-transform: uppercase;

  }
.product-text {
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
	line-height: 24px;	
}
.btn-order {
	display: inline-block;
	border: 0;
	padding: 15px 35px;
}

.promo {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.promo-right b {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 45px;
}
.promo-left-title {
	font-size: 45px;
	padding: 0;
	margin: 0;
	text-align: left;
}
.promo-left-text,
.services {
	text-align: left;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.filter-item {
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}

.container-top {
	width:1440px;
background-color: #eeeeee;
}

.site-navigation,
.busket,
.social-button-list,
.net,
.items,
.sort-items,
.catalog-list,
.pagination-list { 
list-style: none;
}

.site-navigation a,
.busket a {
font-size: 16px;
text-transform: uppercase;
text-decoration: none;
}

.sort-items a {
text-decoration: none;
}

.site-navigation a:hover,
.busket a:hover  {
color: #fb565a;
}

.site-navigation a:active,
.busket a:active {
color: rgba(0, 0, 0, 0.3);
}

.btn-more {
display: inline-block;
color: #ffffff;
text-decoration: none;
background-color: #fb565a;
text-align;
padding: 17px 52px;

}

.btn-more:hover {
background-color: #e74246;
}
.btn-more:active {
background-color: #d7373b;
opacity: .3;
}

.btn-order {
color: #ffffff;
text-transform: uppercase;
text-align: center;
}
.btn-red {
background-color: #fb565a;
}

.btn-green {
background-color: #00ca74;
}

.btn-yellow {
background-color: #efc84a;
}

.write-us {
font-size: 45px;
}

.services b {
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
}

.features b {
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
}

.studio-name b {
font-size: 18px;
font-weight: bold;
}

.percents td {
font-size: 45px;
font-weight: bold;
}

.pagination-list a {
text-decoration: none;
color: #000000;
}

.filter-button {
text-transform: uppercase;
text-align: center;
background-color: #eeeeee;
}

.filter-button:hover {
background-color: #dfdfdf;
}
.filter-button:focus {
background-color: #dfdfdf;
opacity: .3;
}

.sort-items a {
color: rgba(0, 0, 0, 0.3);
font-size: 14px;
} 

.sort-items a:hover {
color: rgba(0, 0, 0, 0.6);
}
.sort-items a:active {
color: #000000;
}

.feedback-item {
font-weight: bold;
}


.pagination-item a {
display: inline-block;
background-color: #eeeeee;
}

.pagination-item a:hover {
display: inline-block;
background-color: #dedede;
}

.pagination-item a:active {
display: inline-block;
background-color: #d5d5d5;
color: rgba(0, 0, 0, 0.3);
}

.location {
	display: inline-block;
	position: relative;
	width: 1440px;
	height: 416px;
	background-image: url("../img/map-marker.png"), url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: 800px 80px, center;
    
}
.contacts {
	position: absolute;
	top: 50px;
	left: 130px;
	padding: 50px;
	background-color: #ffffff;

}
}
.send {
background-color: #fb565a;
color: #ffffff;
text-align: center;
text-transform: uppercase;
}

.contact-us {
color: #ffffff;
font-size: 16px;
text-transform: uppercase;
text-align: center;
background-color: #fb565a;
padding: 18px 45px;
}

.footer-social b {
font-size: 36px;
font-weight: bold;
}
.studio-name {
	font-size: 18px;
	text-transform: uppercase;
}
.social-button {
text-decoration: none;
}