body {
margin: 0;
padding: 0;

font-size: 16px;
  
font-family: "Roboto";
  
color: rgb(40, 49, 54);
  
line-height: 1.25;
 
font-weight: normal;
background-color: #ffffff;
}

h1 {
font-size: 55px;
  
font-family: "Roboto";
  
color: rgb(0, 0, 0);
  
line-height: 1;

font-weight: bold;
}   

h3 {
font-size: 24px;
  
font-family: "Roboto";
 
text-transform: uppercase;
font-weight: bold;
line-height: 1.667;
}
  

.filter-item {
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}

.container-top {
background-color: #eeeeee;
}

.slogan b {
font-size: 55px;
}

.site-navigation,
.busket,
.social-button-list,
.net,
.items,
.sort-items,
.catalog-list,
.pagination-list { 
list-style: none;
}

.site-navigation a,
.busket a {
font-size: 16px;
text-transform: uppercase;
text-decoration: none;
}

.sort-items a {
text-decoration: none;
}

.site-navigation a:hover,
.busket a:hover  {
color: #fb565a;
}

.site-navigation a:active,
.busket a:active {
color: rgba(0, 0, 0, 0.3);
}

.btn-more {
color: #ffffff;
text-decoration: none;
background-color: #fb565a;
text-align;
}

.btn-more:hover {
background-color: #e74246;
}
.btn-more:active {
background-color: #d7373b;
opacity: .3;
}

.btn-order {
color: #ffffff;
text-transform: uppercase;
text-align: center;
}
.btn-red {
background-color: #fb565a;
}

.btn-green {
background-color: #00ca74;
}

.btn-yellow {
background-color: #efc84a;
}

.promo b,
.write-us {
font-size: 45px;
}

.services b {
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
}

.features b {
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
}

.studio-name b {
font-size: 18px;
font-weight: bold;
}

.percents td {
font-size: 45px;
font-weight: bold;
}

.pagination-list a {
text-decoration: none;
color: #000000;
}

.filter-button {
text-transform: uppercase;
text-align: center;
background-color: #eeeeee;
}

.filter-button:hover {
background-color: #dfdfdf;
}
.filter-button:focus {
background-color: #dfdfdf;
opacity: .3;
}

.sort-items a {
color: rgba(0, 0, 0, 0.3);
font-size: 14px;
} 

.sort-items a:hover {
color: rgba(0, 0, 0, 0.6);
}
.sort-items a:active {
color: #000000;
}

.feedback-item {
font-weight: bold;
}


.pagination-item a {
display: inline-block;
background-color: #eeeeee;
}

.pagination-item a:hover {
display: inline-block;
background-color: #dedede;
}

.pagination-item a:active {
display: inline-block;
background-color: #d5d5d5;
color: rgba(0, 0, 0, 0.3);
}

.send {
background-color: #fb565a;
color: #ffffff;
text-align: center;
text-transform: uppercase;
}

.contact-us {
color: #ffffff;
font-size: 16px;
text-transfom: uppercase;
text-align: center;
background-color: #fb565a;
}

.footer-social b {
font-size: 36px;
font-weight: bold;
}

.social-button {
text-decoration: none;
}